<div class="row">
    <div class="col-md-2">
        <h1>#<%= @id %></h1>
    </div>
    <div class="col-md-8 text-center">
        <h1><%= @problem.title %></h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-offset-9 col-md-3 text-center">
        <%= link_to("解題紀錄", submission_path(@id)) %>&nbsp;&nbsp;
        <%= link_to("提問", new_question_path(id:@id)) %>
    </div>
</div>
<br>
<%= render "p#{@id}" %>
<hr>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <%= link_to("Solve it", new_submission_path(id:@id), class:"btn btn-primary btn-lg") %>
    </div>
</div>
