<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NUKCSIE OJ </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <span class="navbar-text">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span id="timeLeft">--:--:--</span>
            </span>
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to("題目", problems_path) %>
                </li>
                <li>
                    <%= link_to("記分板", scoreboard_path) %>
                </li>
                <li>
                    <%= link_to("提問", question_index_path) %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <span class="navbar-text">
                    <% if logged_in? %>
                        <%= current_user.sid.upcase %>
                    <%end%>
                </span>
                <li>
                    <%= link_to("登出", logout_path, method: :delete) %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
