<!DOCTYPE html>
<html>
  <head>
    <title>高大資工Online Judge</title>
    <%= yield :refresh %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_SVG' %>
    <% if logged_in? %>
      <%= javascript_include_tag 'clock' %>
    <% end %>
  </head>

  <body>
  <div class="container-fluid">
    <%= render "common/navbar" unless @disable_nav %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render "common/footer" %>
  </body>
</html>
